<div class="max-w-[512px]">
    <h1 mat-dialog-title>
        <span class="flex justify-between">
            <span>{{data.question.title}}</span>
            <span class="cursor-pointer" mat-dialog-close>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </span>
    </h1>
    <div mat-dialog-content>
        <ul class="list-disc pl-3">
            <li *ngFor="let answer of data.question.answers">
                <ng-container *ngIf="answer | bold as answerT">
                    <p class="text-[1rem] text-gray-500 py-1">
                        <ng-container [ngTemplateOutlet]="isArray(answerT) ? bold : notBold"
                            [ngTemplateOutletContext]="{answer: answerT}"></ng-container>
                    </p>
                </ng-container>
            </li>
        </ul>
    </div>
</div>


<ng-template #bold let-answer="answer">
    <span class="font-semibold">{{answer[0]}}</span>
    <span>{{answer[1]}}</span>
</ng-template>
<ng-template #notBold let-answer="answer">
    {{answer}}
</ng-template>